.profile {
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.top {
  display: flex;
  justify-content: space-between;
  min-height: 250px;
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  width: 45%;
  border: 2px solid blue;
}

.achievement_widget {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid blue;
}

.open_trades {
 height: 200px;
 border: 2px solid blue;
}

.trade_history {
  height: 200px;
  border: 2px solid blue;
}

table {
  width: 60%;
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-y: auto;
  overflow-x: auto;
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: coral;
}

td {
  text-align: center;
  vertical-align: center;
}

.td_sub {
  display: block;
  font-size: small;
}